/* Container for the About section */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

/* Responsive styling for name section */
.name-section {
  font-size: 2.5em;
  color: black;
  font-family: sans-serif;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .name-section {
    font-size: 2em;
  }
}

/* Styling for the quote */
.about-quote {
  font-size: 1.5em;
  font-style: italic;
  color: #2c3e50;
  margin-bottom: 20px;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .about-quote {
    font-size: 1.2em;
    padding: 0 10px;
  }
}

/* Styling the large, curved quotation mark */
.quote-mark {
  font-size: 3em;
  color: #e74c3c;
  font-family: 'Georgia', serif;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .quote-mark {
    font-size: 2em;
  }
}

/* Download button styling */
.download-button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 1em;
  color: white;
  background-color: #2c3e50;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.download-button:hover {
  background-color: #34495e;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .download-button {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}

/* Profile image hidden by default and only displayed on small screens */
.about-image {
  display: none;
}

/* @media (max-width: 768px) {
  .about-image {
    display: block;
    max-width: 80%;
    border-radius: 15px;
    margin-top: 20px;
  }
} */
